.imageList{
    border: 1px solid #779e9e;
    width: 20%;
    height: 80%;
    overflow: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.imageList.imageDeleteButtom {
    width: 70px;
    background-color: rgba(182, 44, 74, 0.533);;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
  }
  
  .imageList.imageDeleteButtom:hover {background-color: #e578;}

  .imageList.imageDeleteButtom:active {
    background-color: rgba(138, 22, 47, 0.849);;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.imageList.inactive {
    width: 70px;
    background-color: #c3dac9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
  }
  
  .imageList.inactive:hover {background-color: #a0d3ae}

  .imageList.inactive:active {
    background-color: #9dd69f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.imageList.active {
    width: 70px;
    background-color: #5dc47b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
  }
 
  .imageList.active:hover {background-color: #5da872}

  .imageList.active:active {
    background-color: #9dd69f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }